<configuration>
  <system.webServer>
    <!-- Indicates that server.js is a Node.js entry point -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
            <match url="^server.js\/debug[\/]?" />
        </rule>
        <!-- Bulletproof catch-all rule: routes EVERYTHING to server.js -->
        <rule name="NodeJS CatchAll" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Prevent rewrite loop: do not rewrite if already rewriting to server.js -->
            <add input="{REQUEST_URI}" pattern="^/server.js" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".env" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Configure iisnode -->
    <iisnode watchedFiles="web.config;*.js" devErrorsEnabled="true" loggingEnabled="true" nodeProcessCommandLine="node.exe" />
    <httpErrors existingResponse="PassThrough" />
    
  </system.webServer>
</configuration>